# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==1.1.1
numpy==1.18.4
requests==2.22.0
urllib3
numpy
pandas
scikit-learn
scipy
jsonlib-python3
sklearn_pandas==1.8.0
